body {
  background: #f3f3f3;
  text-align: center;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* previne rolagem horizontal */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* altura total da tela */
}

.App {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 20px 25px;
  width: 100%;
  max-width: 600px; /* largura máxima do form */
  box-sizing: border-box;
  text-align: center;
}

h1 {
  font-size: 1.3rem;
  color: #327c35;
  margin-bottom: 15px;
  white-space: normal;
  word-break: break-word;
}

/* restante do seu CSS segue igual */

fieldset {
  border: none;
  margin: 10px 0;
}

label {
  font-size: 15px;
  display: block;
  width: 100%;
  margin-top: 3px;
  margin-bottom: 5px;
  text-align: left;
  color: #555;
  font-weight: bold;
}

input {
  display: block;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 12px;
  margin-bottom: 10px;
}

input[type="radio"],
input[type="checkbox"] {
  display: inline-block;
  width: auto;
  margin-right: 10px;
}

select {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
}

textarea {
  resize: none;
  width: 98%;
  min-height: 100px;
  max-height: 150px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  border-color: #4caf50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

button {
  padding: 15px;
  border-radius: 10px;
  margin: 15px 5px;
  border: none;
  color: white;
  cursor: pointer;
  background-color: #4caf50;
  width: 48%;
  font-size: 16px;
  display: inline-block;
}
